.public{
    width:1200px;
    margin:0 auto;
}
.xstm{
    @extend .public;
    overflow:hidden;
    line-height:70px;
}
.xstmLeft{
    float:left;
}
.xstmLeft span:nth-of-type(1){
    font-size:22px;
    line-height:70px;
    padding-left: 50px;
    background: url(../img/index.png) no-repeat -88px -24px;
}
.xstmLeft span:nth-of-type(2){
    font-size:12px;
    color:#999896;
    padding-left:22px;
}
.xstmRight{
    float:right;
    font-size:12px;
    a{
        color:#D01744;
    }
}
//限时特卖
.timeLimit{
    @extend .public;
    overflow: hidden;
    .tL{
        width:589px;
        height:275px;
        float:left;
        margin:0 5px;
        position:relative;
        a{
            position:relative;
            display:block;
            width:589px;
            height:234px;
            overflow: hidden;
            .tLt{
    //          top:233   179
//              display: none;
                width:589px;
                height:55px;
                position:absolute;
                top:233px;
                background:#FFFFFF;
            }
            .tiL{
//              display: none;
                width:470px;
                height:55px;
                position:absolute;
                top:233px;
                left:118px;
                span:nth-of-type(1){
                    float:left;
                    line-height:55px;
                    font-size:16px;
                    color:#000000;
                }
                span:nth-of-type(2){
                    float:right;
                    line-height:55px;
                    font-size:20px;
                    color:#D01744;
                }
            }
        }
    }
    .tLSpan{
        float:right;
        line-height:38px;
        font-size:12px;
    }
}
//妈妈专区
.mama01,.mama02,.mama03{
    width:197px;
    float:left;
}
.floor1{
    @extend .public;
    overflow:hidden;
    border-top:4px solid #c388b4;
    margin-bottom: 30px;
    border-bottom:1px solid #e7e9e6;
    .mama01{
        border:1px solid #E7E9E6;
        border-bottom:none;
        .floor1Title{
            width:197px;
            height:60px;
            padding-top:8px;
            line-height:52px;
            text-align:center;
            color:#FFFFFF;
            font-size:24px;
            font-weight: 600px;
        }
    }
    .floor1Ul{
        height:190px;
        ul{
            li{
                width:95px;
                line-height:36px;
                float:left;
                text-align: center;
                a{
                    &:hover{
                        color:#D01744;
                    }
                    font-size:12px;
                    color:black;
                }
            }
        }
    }
    .floor1Lunbo{
        position:relative;
        height:180px;
        width:100%;
        overflow: hidden;
        ol{
            width:100%;
            li{
                width:15px;
                height:30px;
                position:absolute;
                top:80px;
            }
            li:nth-of-type(1){
                background:url(../img/arrow_left.png) no-repeat;
            }
            li:nth-of-type(2){
                left:182px;
                background:url(../img/arrow_right.png) no-repeat;
            }
        }
        ul{
            width:1200%;
//          overflow: hidden;
            position:absolute;
            li{
                position:absolute;
                margin-top:20px;
                width:197px;
                text-align: center;
                float:left;
                img{
                    margin:auto;
                    width:84px;
                    height:48px;
                }
            }
        }
    }
}
.mama02{
    width:400px;
    height:440px;
    overflow: hidden;
    text-align: center;
    img{
        width:100%;
        height:100%;
        margin:auto;
        &:hover{
            transform: scale(1.1);
        }
        transition: all 1s;
    }
}
.mama03{
    height:440px;
    ul{
        width:597px;
        height:220px;
        li{
            padding-top:15px;
            width:197px;
            height:220px;
            float:left;
            border:1px solid #e7e9e6;
            position:relative;
            a{
                .mamaP1{
                    text-align:center;
                    line-height:28px;
                    font-size:16px;
                    color:#000000;
                }
                .mamaP2{
                    text-align: center;
                    line-height:28px;
                    font-size:14px;
                    color:#D01744;
                }
                img{
                    margin:0 auto;
                    width:102px;
                    height:102px;
                    position:absolute;
                    top:90px;
                    left:50px;
                }
            }
        }
    }
}
.floor1Title{
    background:url(../img/floor1.png) no-repeat;
}
.floor2Title{
    background: url(../img/floor2.png) no-repeat;
}
.floor3Title{
    background: url(../img/floor3.png) no-repeat;
}
.floor4Title{
    background: url(../img/floor4.png) no-repeat;
}
.floor5Title{
    background: url(../img/floor5.png) no-repeat;
}
//母婴生活距
#muying{
    margin-left:10px;
    background: url(../img/index.png) no-repeat -94px -485px;
}
.play{
    @extend .public;
    margin-bottom:40px;
    overflow: hidden;
    .play01{
        float:left;
        display: block;
        width:390px;
        height:125px;
        margin-right:10px;
    }
}
//底部
.foot{
    width:100%;
    padding-bottom:17px;
    background: #000;;
    .foot01{
        width:100%;
        background: #D01744;
        overflow: hidden;
        ul{
            width:100%;
            li{
                float:left;
                width:25%;
                height:106px;
                position:relative;
                img{
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    margin:auto;
                }
            }
        }
    }
    .fooot02{
        width:100%;
        border-bottom:1px solid #666666;
        .foot021{
            @extend .public;
            padding:30px 0 15px;
            overflow: hidden;
            dl{
                padding:0 76px;
                float:left;
                border-right:1px solid #666666;
                dt{
                    font-size:12px;
                    font-weight: 600;
                    color:#FFFFFF;
                    line-height:30px;
                }
                dd{
                    font-size:12px;
                    color:#666666;
                    line-height:30px;
                    &:hover{
                        color:#D01744;
                    }
                }
            }
            ul{
                float:left;
                padding:0 30px;
            }
        }
    }
    .foot03{
        width:100%;
        .foot031{
            width: 280px;
            margin: 0 auto;
            padding: 10px 0px;
            ul{
                overflow: hidden;
                li{
                    color:#666666;
                    margin-top:10px;
                    float:left;
                    a{
                        
                        padding:0 7px;
                        font-size:12px;
                        color:#666666;
                        &:hover{
                            color:#D01744;
                        }
                    }
                }
            }
        }
        .foot032{
            color:#666666;
            font-size:12px;
            text-align:center;
        }
        .foot033{
            width:284px;
            margin:5px auto 0;
            img{
                padding:3px 3px;
                display: inline-block;
            }
        }
    }
}
