.public, .xstm, .timeLimit, .floor1, .play, .foot .fooot02 .foot021 {
  width: 1200px;
  margin: 0 auto; }

.xstm {
  overflow: hidden;
  line-height: 70px; }

.xstmLeft {
  float: left; }

.xstmLeft span:nth-of-type(1) {
  font-size: 22px;
  line-height: 70px;
  padding-left: 50px;
  background: url(../img/index.png) no-repeat -88px -24px; }

.xstmLeft span:nth-of-type(2) {
  font-size: 12px;
  color: #999896;
  padding-left: 22px; }

.xstmRight {
  float: right;
  font-size: 12px; }
  .xstmRight a {
    color: #D01744; }

.timeLimit {
  overflow: hidden; }
  .timeLimit .tL {
    width: 589px;
    height: 275px;
    float: left;
    margin: 0 5px;
    position: relative; }
    .timeLimit .tL a {
      position: relative;
      display: block;
      width: 589px;
      height: 234px;
      overflow: hidden; }
      .timeLimit .tL a .tLt {
        width: 589px;
        height: 55px;
        position: absolute;
        top: 233px;
        background: #FFFFFF; }
      .timeLimit .tL a .tiL {
        width: 470px;
        height: 55px;
        position: absolute;
        top: 233px;
        left: 118px; }
        .timeLimit .tL a .tiL span:nth-of-type(1) {
          float: left;
          line-height: 55px;
          font-size: 16px;
          color: #000000; }
        .timeLimit .tL a .tiL span:nth-of-type(2) {
          float: right;
          line-height: 55px;
          font-size: 20px;
          color: #D01744; }
  .timeLimit .tLSpan {
    float: right;
    line-height: 38px;
    font-size: 12px; }

.mama01, .mama02, .mama03 {
  width: 197px;
  float: left; }

.floor1 {
  overflow: hidden;
  border-top: 4px solid #c388b4;
  margin-bottom: 30px;
  border-bottom: 1px solid #e7e9e6; }
  .floor1 .mama01 {
    border: 1px solid #E7E9E6;
    border-bottom: none; }
    .floor1 .mama01 .floor1Title {
      width: 197px;
      height: 60px;
      padding-top: 8px;
      line-height: 52px;
      text-align: center;
      color: #FFFFFF;
      font-size: 24px;
      font-weight: 600px; }
  .floor1 .floor1Ul {
    height: 190px; }
    .floor1 .floor1Ul ul li {
      width: 95px;
      line-height: 36px;
      float: left;
      text-align: center; }
      .floor1 .floor1Ul ul li a {
        font-size: 12px;
        color: black; }
        .floor1 .floor1Ul ul li a:hover {
          color: #D01744; }
  .floor1 .floor1Lunbo {
    position: relative;
    height: 180px;
    width: 100%;
    overflow: hidden; }
    .floor1 .floor1Lunbo ol {
      width: 100%; }
      .floor1 .floor1Lunbo ol li {
        width: 15px;
        height: 30px;
        position: absolute;
        top: 80px; }
      .floor1 .floor1Lunbo ol li:nth-of-type(1) {
        background: url(../img/arrow_left.png) no-repeat; }
      .floor1 .floor1Lunbo ol li:nth-of-type(2) {
        left: 182px;
        background: url(../img/arrow_right.png) no-repeat; }
    .floor1 .floor1Lunbo ul {
      width: 1200%;
      position: absolute;
      left: -197px; }
      .floor1 .floor1Lunbo ul li {
        margin-top: 20px;
        width: 197px;
        text-align: center;
        float: left; }
        .floor1 .floor1Lunbo ul li img {
          margin: auto;
          width: 84px;
          height: 48px; }

.mama02 {
  width: 400px;
  height: 440px;
  overflow: hidden;
  text-align: center; }
  .mama02 img {
    width: 100%;
    height: 100%;
    margin: auto;
    transition: all 1s; }
    .mama02 img:hover {
      transform: scale(1.1); }

.mama03 {
  height: 440px; }
  .mama03 ul {
    width: 597px;
    height: 220px; }
    .mama03 ul li {
      padding-top: 15px;
      width: 197px;
      height: 220px;
      float: left;
      border: 1px solid #e7e9e6;
      position: relative; }
      .mama03 ul li a .mamaP1 {
        text-align: center;
        line-height: 28px;
        font-size: 16px;
        color: #000000; }
      .mama03 ul li a .mamaP2 {
        text-align: center;
        line-height: 28px;
        font-size: 14px;
        color: #D01744; }
      .mama03 ul li a img {
        margin: 0 auto;
        width: 102px;
        height: 102px;
        position: absolute;
        top: 90px;
        left: 50px; }

.floor1Title {
  background: url(../img/floor1.png) no-repeat; }

.floor2Title {
  background: url(../img/floor2.png) no-repeat; }

.floor3Title {
  background: url(../img/floor3.png) no-repeat; }

.floor4Title {
  background: url(../img/floor4.png) no-repeat; }

.floor5Title {
  background: url(../img/floor5.png) no-repeat; }

#muying {
  margin-left: 10px;
  background: url(../img/index.png) no-repeat -94px -485px; }

.play {
  margin-bottom: 40px;
  overflow: hidden; }
  .play .play01 {
    float: left;
    display: block;
    width: 390px;
    height: 125px;
    margin-right: 10px; }

.foot {
  width: 100%;
  padding-bottom: 17px;
  background: #000; }
  .foot .foot01 {
    width: 100%;
    background: #D01744;
    overflow: hidden; }
    .foot .foot01 ul {
      width: 100%; }
      .foot .foot01 ul li {
        float: left;
        width: 25%;
        height: 106px;
        position: relative; }
        .foot .foot01 ul li img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto; }
  .foot .fooot02 {
    width: 100%;
    border-bottom: 1px solid #666666; }
    .foot .fooot02 .foot021 {
      padding: 30px 0 15px;
      overflow: hidden; }
      .foot .fooot02 .foot021 dl {
        padding: 0 76px;
        float: left;
        border-right: 1px solid #666666; }
        .foot .fooot02 .foot021 dl dt {
          font-size: 12px;
          font-weight: 600;
          color: #FFFFFF;
          line-height: 30px; }
        .foot .fooot02 .foot021 dl dd {
          font-size: 12px;
          color: #666666;
          line-height: 30px; }
          .foot .fooot02 .foot021 dl dd:hover {
            color: #D01744; }
      .foot .fooot02 .foot021 ul {
        float: left;
        padding: 0 30px; }
  .foot .foot03 {
    width: 100%; }
    .foot .foot03 .foot031 {
      width: 280px;
      margin: 0 auto;
      padding: 10px 0px; }
      .foot .foot03 .foot031 ul {
        overflow: hidden; }
        .foot .foot03 .foot031 ul li {
          color: #666666;
          margin-top: 10px;
          float: left; }
          .foot .foot03 .foot031 ul li a {
            padding: 0 7px;
            font-size: 12px;
            color: #666666; }
            .foot .foot03 .foot031 ul li a:hover {
              color: #D01744; }
    .foot .foot03 .foot032 {
      color: #666666;
      font-size: 12px;
      text-align: center; }
    .foot .foot03 .foot033 {
      width: 284px;
      margin: 5px auto 0; }
      .foot .foot03 .foot033 img {
        padding: 3px 3px;
        display: inline-block; }

.louti {
  width: 34px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 252px;
  margin: auto;
  display: none; }
  .louti ul li {
    width: 34px;
    height: 32px;
    background: #918888;
    border-bottom: 1px solid #b1aaaa;
    font-size: 12px;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    cursor: pointer; }
  .louti ul .ding {
    background: #5e4a4a;
    height: 25px; }
    .louti ul .ding div {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom-color: #FFFFFF;
      margin: 0 auto; }

.bottom {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000000000000000000000; }
  .bottom a {
    display: block;
    width: 960px;
    height: 85px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .bottom a img {
      width: 100%;
      height: 100%; }
  .bottom div {
    width: 30px;
    height: 30px;
    background: url(../img/close_footerad.png) no-repeat;
    position: absolute;
    top: -15px;
    right: -10px; }

/*# sourceMappingURL=timeLimit.css.map */
